
body{
 font-family: Arial;
 margin:0;
 padding:0;
 background:#f4f4f4;
}

h1{
 text-align:center;
 background:#0a7a3d;
 color:white;
 padding:20px;
}

.categories{
 display:flex;
 gap:20px;
 justify-content:center;
 margin-top:40px;
}

.categories a{
 padding:15px 25px;
 background:white;
 border-radius:10px;
 text-decoration:none;
 color:#0a7a3d;
 font-weight:bold;
}
